body {
  font-family: sans-serif;
  background-color: red;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;

  &__item {
    margin: 10px;
    padding: 10px;
    background-color: yellow;
  }

  &__link {
    text-decoration: none;
    display: block;
  }
}
